*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

\.idea/

app/src/main/assets/configs/config_iot_core\.properties

app/src/main/assets/configs/config_mqtt\.properties
